*.csv filter=lfs diff=lfs merge=lfs -text
dados/SP/*.csv filter=lfs diff=lfs merge=lfs -text
dados/Saude/*.csv filter=lfs diff=lfs merge=lfs -text
dados/Saude/SIM/*.csv filter=lfs diff=lfs merge=lfs -text
